<!DOCTYPE html>
<html lang="en"> 
  <head>
      <title>It's <%= who %></title>
  </head>

  <body>
  	<header>
  	</header>
  	<aside>
  	</aside>
    <main>
      <%- body -%>
    </main>
    <footer>
    </footer>
  </body>
</html>